[Desktop Entry]
Name=Reactionary98
Comment=A fork of Reactionary to make it more Windows 98 style. Use with SE98 WM Theme for the GTK theme. You may also want to set the Window Decorations button size to Large.
X-KDE-PluginInfo-Name=Reactionary98
X-KDE-PluginInfo-Author=Die4Ever
X-KDE-PluginInfo-Email=die4ever2005@gmail.com
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=https://github.com/Die4Ever/KDE-Windows-98-Theme
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=defaults
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=\
kns://aurorae.knsrc/api.kde-look.org/2083968,\
kns://icons.knsrc/api.kde-look.org/2330873,\
kns://xcursor.knsrc/api.kde-look.org/2330874,\
kns://colorschemes.knsrc/api.kde-look.org/1484429,\
kns://plasma-themes.knsrc/api.kde-look.org/1252412,\
kns://wallpaper.knsrc/api.kde-look.org/1257847,\
kns://sddmtheme.knsrc/api.kde-look.org/1376447
